#profile .box-img {
  width: 100%;
}

#profile .box-img img {
  width: 100%;
}

#profile .name {
  font-size: clamp(1.2rem, 1.7vw, 2rem);
  font-weight: 600;
  color: #4f4f4f;
  text-transform: capitalize;
  margin: 10px 0;
}

#profile .fuc {
  font-size: clamp(0.8rem, 1.3vw, 1.8rem);
  font-weight: 500;
  color: #828282;
  margin-bottom: 30px;
  text-transform: capitalize;
}

#profile .contact-itens {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

#profile .contact-item a {
  display: flex;
  text-decoration: none;
  gap: 10px;
  color: #4f4f4f;
}

#profile .social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 15px;
}

#profile .social-media a {
  border: 2px solid #4f4f4f;
  padding: 10px 10px;
  color: #4f4f4f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
}

#profile .social-media a:hover {
  background: #4f4f4f;
  color: #fff;
}

#profile .description {
  font-size: clamp(0.4rem, 1vw, 1.5rem);
  color: #828282;
}
